/* RESETEO GENERAL */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        
        background-color: white;
        background-repeat: repeat;
        background-size: 300px;
        text-align: center;
    }