@use 'sass:math';
@use 'variables' as v;

/* PIE DE PÁGINA */
footer {
    background-color: v.$color-fondo;
    width: 100%;
    display: block;          
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#copy {
    background-color: v.$color-texto;
    color: white;
    padding: 10px;
    margin: 0;               // elimina márgenes extra
    box-sizing: border-box;
}

    /* Secciones del footer */
    .piePagina {
        color: v.$color-texto;
        padding: v.$padding-grande v.$padding-medio;
        font-family: v.$fuente-secundaria;
        box-sizing: border-box;

        article {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;

            > div {
            flex: 1 1 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            }
        }

        h1{
            color: white;
            margin: 0;
            font-weight: bold;
        }

        h2 {
            color: v.$color-texto;
            margin: 0;
            font-weight: bold;
        }
        
        p{
            color: v.$color-texto;
            margin: 0px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            transition: color 0.3s;
            transition: color 0.3s, transform 0.3s;

            &:hover {
            color: v.$color-principal;
            transform: translateY(-2px);
            }
        }
    }