@use 'sass:math';
@use 'variables' as v;

/* MAIN INDEX*/
main{
    background-color: v.$color-claro;
}
    /* --- ADOPCIÓN --- */
    .caja_adopcion {
        background-image: url("../img/web/banner.png");
        background-size: cover;
        background-position: center;
        height: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .eslogan {
            color: white;
            font-family: v.$fuente-principal;
            font-size: v.$fuente-xxl;
            margin-bottom: v.$padding-medio;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
        }

        h2 {
            font-family: v.$fuente-principal;
            font-size: v.$fuente-xxl;
            color: white;
            margin: 0 10px;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
        }

        .subtexto {
            color: #ffffff;
            font-weight: 600;
            margin: 15px 0 30px 0;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
            font-size: v.$fuente-grande !important;
        }

        .boton-ver-animal {
            background-color: v.$color-principal;
            color: v.$color-texto-claro;
            border-radius: v.$radio-bordes-grande;
            padding: 10px 30px;
            font-weight: bold;
            font-size: 1.2rem;
            transition: all 0.3s ease;
            text-decoration: none;
            display: inline-block;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px rgba(255,107,26,0.4);
            }
    }

    .elementos-linea {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;

        img.separador {
        width: 24px;
        height: 24px;
        }
    }
    }

    /* --- SERVICIOS --- */
    .servicios {
    margin-top: 60px;
    

        .tarjeta {
            background-color: white;
            border-radius: v.$radio-bordes-medio;
            overflow: hidden;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 100%; 

            a{
                text-decoration: none;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 20px rgba(0,0,0,0.2);
            }

            .tarjeta-img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                display: block;
            }
            

            .tarjeta-body {
            padding: 15px;

                h3 {
                    margin-bottom: 10px;
                    color: #343a40;
                }

                p {
                    color: #6c757d;
                    font-size: v.$fuente-pequena;
                }
            }  
        }
    }

    /* --- PUBLICIDAD --- */
    .publi {
        width: 100%;
        background-color: v.$color-azul;
        color: v.$color-texto-claro;
        font-weight: bold;
        padding: v.$padding-grande v.$padding-medio;
        margin: 40px 0 0 0;

    .donar {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

        img {
            width: 25px;
            margin: 0 10px;
            vertical-align: middle;
        }
    }

    .info-publi {
        display: flex;
        justify-content: space-between;
        gap: v.$padding-grande;
        flex-wrap: wrap;

        .redes,
        .adoptar {
            flex: 1 1 45%;
            padding: 30px;
            border: 3px solid v.$color-texto-claro;
            border-radius: v.$radio-bordes-medio;
            text-align: center;
            min-width: 280px;
        }

        .iconosRedes {
            margin-top: 20px;

            img {
                width: v.$icono-grande;
                margin: 0 10px;
                transition: transform 0.3s ease;
            }

            img:hover{
                transform: translateY(-6px);
            }
        }
    }

    .btn-donar,
    .btn-adoptar {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 30px;
        background-color: v.$color-principal;
        color: v.$color-texto-claro;
        text-decoration: none;
        border-radius: v.$radio-bordes-grande;
        font-weight: bold;
        transition: all 0.3s;

            &:hover {
            background-color: v.$color-secundario;
            }
        }
    }

    /* --- CARRUSEL --- */
    .carousel {
    width: 100%;
    max-height: 700px;   // ajusta a tu gusto
    overflow: hidden;
}

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-image: none;
    }

    .custom-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: v.$color-azul;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 50%;
            height: 50%;
        }
    }

    /* --- INFORMACIÓN FINAL --- */
    .informacion_final {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        padding: v.$padding-grande v.$padding-medio;
        background-color: v.$color-azul;
        color: v.$color-texto-claro;
        font-weight: bold;
        flex-wrap: wrap;

        .contacto {
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 1 1 300px;

            .contacto-item {
                display: flex;
                align-items: center;
                gap: 15px;

                img {
                    width: v.$icono-medio;
                    height: v.$icono-medio;
                }
            }
        }

        .email {
            flex: 1 1 300px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            text-align: center;

            .form-suscripcion {
                display: flex;
                gap: 10px;
                justify-content: center;
                flex-wrap: wrap;

                input {
                    padding: 12px 15px;
                    border-radius: v.$radio-bordes-grande;
                    border: none;
                    width: 250px;
                    max-width: 100%;
                    outline: none;
                    font-size: v.$fuente-media;
                }

                .btn-suscribirse {
                    background-color: v.$color-principal;
                    color: v.$color-texto-claro;
                    padding: 12px 25px;
                    border-radius: v.$radio-bordes-grande;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.3s;
                    display: inline-block;
                    font-size: v.$fuente-media;

                    &:hover {
                    background-color: v.$color-secundario;
                    }
                }
            }
        }
    }