    @use 'sass:math';
    @use 'variables' as v;

    /* =========================
    HEADER
    ========================= */
    header {
    background-color: v.$color-header;
    padding: v.$padding-pequeno v.$padding-grande;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logotipo {
        display: flex;
        align-items: center;
        gap: v.$padding-pequeno;

        img {
        width: 64px;
        height: 64px;
        }

        h1 {
        font-size: v.$fuente-xxl;
        color: v.$color-principal;
        text-shadow: 2px 2px v.$color-texto-claro;
        margin: 0;
        font-weight: bold;
        }
    }

    nav {
        ul {
        list-style: none;
        display: flex;
        gap: math.div(v.$padding-medio, 2);
        padding-left: 0;
        margin: 0;
        flex-wrap: nowrap;

        li a {
            text-decoration: none;
            color: v.$color-principal;
            font-weight: bold;
            padding: math.div(v.$padding-pequeno, 2) v.$padding-pequeno;
            border-radius: v.$radio-bordes-pequeno;
            transition: all 0.3s ease;
            font-size: v.$fuente-grande;

            &:hover {
            background-color: v.$color-secundario;
            color: v.$color-texto-claro;
            }
        }
        }
    }

    .registro {
        a {
        text-decoration: none;
        color: v.$color-texto-claro;
        font-weight: bold;
        background-color: v.$color-principal;
        padding: math.div(v.$padding-pequeno, 2) v.$padding-pequeno;
        border-radius: v.$radio-bordes-pequeno;
        margin-left: 8px;
        transition: all 0.3s ease;
        font-size: v.$fuente-grande;

        &:hover {
            background-color: v.$color-secundario;
        }
        }
    }
    }

    /*usuario*/
    .usuario div{
        display: flex;
        flex-direction: column; 
        align-items: center;  
        margin-right: 30px;
        color: rgb(255, 100, 28);
        font-weight: 600;
        font-size: 25px;
    }

    .usuario img {
        border: 3px solid #e17629; /* Opcional: un borde alrededor del avatar */
    }

    /* HEADER RESPONSIVE */
    @media (max-width: 1324px) {
    header {
        flex-direction: column !important;
        align-items: center !important;
        gap: math.div(v.$padding-grande, 2);
    }
    .usuario {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        gap: 5px;
        font-weight: bold;
        font-size: 0.9rem;
        text-align: center;               
    }
    .usuario div{ 
        margin-right: 0px;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    .registro {
        padding: v.$padding-pequeno 0;
    }
    }

    @media (max-width: 788px) {
    header {
        flex-direction: column !important;
        align-items: center !important;
        gap: v.$padding-pequeno;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .registro {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
        margin-left: 0;
        }
    }

    .logotipo {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    }




