// COLORES PRINCIPALES
$color-principal: #34758f;
$color-secundario: #79C7D9;
$color-fondo: #BF705E;
$color-azul: #60A4BF;
$color-texto: #D9B19A;
$color-texto-claro: #f2f2f2;
$color-claro: #f2f2f2;
$color-naranja-claro: #ffd699;
$sombra:#BF705E;

// Colores de efecto
$danger: #e12929;
$user: #ffffff;


// ============================
// FUENTES
// ============================
$fuente-principal: 'Yrsa', serif;
$fuente-secundaria: Arial, sans-serif;

// ============================
// TAMAÑOS
// ============================
$padding-pequeno: 10px;
$padding-medio: 20px;
$padding-grande: 40px;

$radio-bordes-pequeno: 8px;
$radio-bordes-medio: 12px;
$radio-bordes-grande: 30px;

$icono-pequeno: 20px;
$icono-medio: 32px;
$icono-grande: 40px;

$fuente-pequena: 0.9rem;
$fuente-media: 1rem;
$fuente-grande: 1.3rem;
$fuente-xl: 2rem;
$fuente-xxl: 2.5rem;
