    @use 'sass:math';
    @use 'variables' as v;

    /* =========================
    RESET GENERAL
    ========================= */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    background-image: url("../img/web/fondo.png");
    background-repeat: repeat;
    background-size: 300px;
    font-family: v.$fuente-principal;
    text-align: center;
    }

    /********** LOGIN.PHP ***********/
    .card{
        background-color: white;
        border: 1px solid v.$color-header;
        color: v.$color-principal;
        font-weight: bold;
        padding: 50px;
        margin-bottom: 100px;
    }
    .card h1{
        font-weight: bold;
        color: saddlebrown;
        
    }
    ul{
        list-style: none;
    }
    .alert a, .volver a{
        color: v.$color-secundario;
        text-decoration: none;
    }
    .alert a:hover, .volver a:hover{
        text-decoration:underline;
    }
    .btn{
        background-color: v.$color-principal;
        border: 2px solid v.$color-secundario;
    }
    .btn:hover{
        background-color: v.$color-secundario;
        border: 2px solid v.$color-principal;
    }

    /********** REGISTER.PHP ***********/

    .form-label {
        font-weight: 600;
        color: saddlebrown;
        margin-bottom: 5px;
        display: block;
        text-align: left;
    }

    .registro h2{
        color: saddlebrown;
        font-weight: bold;
        margin-top: 15px;

    }

@media (max-width: 600px) {
    .registro{
        margin: 40px;
    }
}
    
